@font-face {
  font-family: "Neue Machina";
  src: url("NeueMachina-Ultralight.eot");
  src: local("Neue Machina Ultralight"), local("NeueMachina-Ultralight"),
    url("NeueMachina-Ultralight.eot?#iefix") format("embedded-opentype"),
    url("NeueMachina-Ultralight.woff2") format("woff2"),
    url("NeueMachina-Ultralight.woff") format("woff"),
    url("NeueMachina-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("NeueMachina-Light.eot");
  src: local("Neue Machina Light"), local("NeueMachina-Light"),
    url("NeueMachina-Light.eot?#iefix") format("embedded-opentype"),
    url("NeueMachina-Light.woff2") format("woff2"),
    url("NeueMachina-Light.woff") format("woff"),
    url("NeueMachina-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("NeueMachina-Black.eot");
  src: local("Neue Machina Black"), local("NeueMachina-Black"),
    url("NeueMachina-Black.eot?#iefix") format("embedded-opentype"),
    url("NeueMachina-Black.woff2") format("woff2"),
    url("NeueMachina-Black.woff") format("woff"),
    url("NeueMachina-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("NeueMachina-Regular.eot");
  src: local("Neue Machina Regular"), local("NeueMachina-Regular"),
    url("NeueMachina-Regular.eot?#iefix") format("embedded-opentype"),
    url("NeueMachina-Regular.woff2") format("woff2"),
    url("NeueMachina-Regular.woff") format("woff"),
    url("NeueMachina-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("NeueMachina-Bold.eot");
  src: local("Neue Machina Bold"), local("NeueMachina-Bold"),
    url("NeueMachina-Bold.eot?#iefix") format("embedded-opentype"),
    url("NeueMachina-Bold.woff2") format("woff2"),
    url("NeueMachina-Bold.woff") format("woff"),
    url("NeueMachina-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("NeueMachina-Medium.eot");
  src: local("Neue Machina Medium"), local("NeueMachina-Medium"),
    url("NeueMachina-Medium.eot?#iefix") format("embedded-opentype"),
    url("NeueMachina-Medium.woff2") format("woff2"),
    url("NeueMachina-Medium.woff") format("woff"),
    url("NeueMachina-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("NeueMachina-Ultrabold.eot");
  src: local("Neue Machina Ultrabold"), local("NeueMachina-Ultrabold"),
    url("NeueMachina-Ultrabold.eot?#iefix") format("embedded-opentype"),
    url("NeueMachina-Ultrabold.woff2") format("woff2"),
    url("NeueMachina-Ultrabold.woff") format("woff"),
    url("NeueMachina-Ultrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
pre {
  max-width: 100%;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background: white;
}

::-webkit-scrollbar {
  display: none;
}
a:any-link {
  color: white;
}

a:any-link {
  color: white;
}

.one a:any-link {
  color: #0000ff;
}

.Loop {
  position: relative;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Neue Machina";
  font-weight: normal;
  font-size: 100%;
}

.one {
  background: #ffffff;
  color: #0000ff;
  border: 10px #0000ff solid;
}

.two {
  background: #0000ff;
  color: #ffffff;
  border: 10px #ffffff solid;
}

.three {
  background: #ffffff;
  color: #0000ff;
  border: 10px #0000ff solid;
}

.four {
  background: #0000ff;
  color: #ffffff;
  border: 10px #ffffff solid;
}

.five {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: repeating-radial-gradient(
    circle at 100%,
    black,
    black 10px,
    white 10px,
    white 50px
  );
  background-size: 300%;
  animation: gradient 110s linear infinite;
}

.five > a:any-link {
  color: white;
  text-shadow: 10px 5px black;
  text-decoration: none;
  text-align: center;
}

.one,
.two,
.three,
.four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 20px 0px 50px;
  flex-wrap: wrap;
}

h1 {
  font-size: 200px;
  margin: 0px;
  padding: 0px;
  font-weight: 900;
  text-shadow: 1px 1px 1px black;
}

p {
  padding-top: 5%;
  font-size: 70px;
  width: 90%;
  font-weight: 300;
  line-height: 60px;
  text-shadow: 1px 0.5px 0.5px black;
}

.spotify {
  width: 40px;
  filter: invert(100%);
}

.mail {
  filter: invert(100%);
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 150%;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 100%;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 100%;
  }
}

@media (min-width: 821px) {
  h1 {
    font-size: 150px;
  }

  p {
    font-size: 40px;
  }
}

@media (min-width: 606px) and (max-width: 820px) {
  h1 {
    font-size: 110px;
  }

  p {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (min-width: 401px) and (max-width: 605px) {
  h1 {
    font-size: 80px;
  }

  p {
    font-size: 35px;
    line-height: 40px;
  }

  section {
    height: 130%;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 70px;
  }
  .five > a:any-link {
    color: white;
    text-shadow: 6px 5px black;
    text-decoration: none;
  }

  p {
    font-size: 30px;
    line-height: 35px;
  }

  .spotify {
    width: 28px;
    filter: invert(100%);
  }
}
/* 
@media only screen and (max-width: 850px) and (orientation: landscape) {
  section {
    height: 190%;
  }

  h1 {
    font-size: 80px;
  }
  p {
    font-size: 40px;
  }
} */
