* {
  margin: 0px;
  padding: 0px;
}
.header {
  background: #4db8be;
  width: 1440px;
  height: 200px;
  left: 0px;
  top: 0px;
}

.header h1 {
  font-size: 50px;
  line-height: 200px;
  font-family: "Helvetica";
  text-transform: uppercase;
  margin-left: 80px;
  color: white;
  font-weight: 700;
}

.info {
  width: 1280px;
  height: 637px;
  margin-top: 50px;
}

.info h1 {
  font-size: 50px;
  line-height: 57px;
  font-family: "Helvetica";
  text-transform: uppercase;
  margin-left: 80px;
  color: black;
  font-weight: 700;
}

p {
  font-size: 50px;
  font-family: "Helvetica";
  font-weight: 300;
  margin-left: 80px;
  color: black;
  font-style: normal;
  margin-top: 30px;
}

#picture {
  background-image: url(picture.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1440px;
  height: 1080px;
  animation: hue 10s infinite linear;
}

.links {
  width: 1360px;
  height: 150px;
  left: 0px;
  background: #4db8be;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  padding-left: 80px;
}

.links a {
  line-height: 150px;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

.footer {
  display: flex;
  color: white;
  justify-content: space-between;
  width: 1440px;
  height: 200px;
  background: #4db8be;
  align-items: center;
}

.footer img {
  width: 205px;
  height: 46px;
  margin-left: 80px;
}

.footer h1 {
  margin-right: 80px;
  font-size: 50px;
  font-family: "Helvetica";
  font-weight: 300;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 100%;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 100%;
  }
}

@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(360deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}
/* 
@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(100deg);
  }

  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(100deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
} */
