* {
  margin: 0px;
  padding: 0px;
}

.header {
  width: 100%;
  background: #4db8be;
  height: 200px;
  left: 0px;
  top: 0px;
}

.header h1 {
  font-size: 50px;
  line-height: 200px;
  font-family: "Helvetica";
  text-transform: uppercase;
  margin-left: 80px;
  color: white;
  font-weight: 700;
}

.info {
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.info h1 {
  font-size: 50px;
  line-height: 57px;
  font-family: "Helvetica";
  text-transform: uppercase;
  margin-left: 80px;
  color: black;
  font-weight: 700;
}

p {
  margin-right: 20px;
  font-size: 50px;
  font-family: "Helvetica";
  font-weight: 300;
  margin-left: 80px;
  color: black;
  font-style: normal;
  margin-top: 30px;
}

.picture {
  background: #4db8be;
}

img {
  animation: hue 10s infinite linear;
  width: 100%;
}

.links {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;

  height: 100%;
  left: 0px;
  background: #4db8be;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  padding-left: 80px;
}

.links > a {
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  padding: 10px 20px 10px 0px;
}

.footer {
  display: flex;
  color: white;
  justify-content: space-between;
  height: 200px;
  background: #4db8be;
  align-items: center;
}

.footer img {
  width: 205px;
  height: 46px;
  margin-left: 80px;
}

.footer h1 {
  font-size: 50px;
  font-family: "Helvetica";
  font-weight: 300;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 100%;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 100%;
  }
}

@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(360deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

@media only screen and (max-width: 900px) {
  .footer > h1 {
    font-size: 0px;
    visibility: hidden;
  }

  .info h1 {
    font-size: 20px;
    font-family: "Helvetica";
    text-transform: uppercase;
    margin-left: 80px;
    color: black;
    font-weight: 700;
  }

  p {
    margin-right: 20px;
    font-size: 18px;
    font-family: "Helvetica";
    font-weight: 300;
    margin-left: 80px;
    color: black;
    font-style: normal;
    margin-top: 30px;
  }

  .header h1 {
    font-size: 30px;
    line-height: 200px;
    font-family: "Helvetica";
    text-transform: uppercase;
    margin-left: 80px;
    color: white;
    font-weight: 700;
  }
  .links {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;

    height: 100%;
    left: 0px;
    background: #4db8be;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding-left: 80px;
  }
}
